{
  "autoon": true,
  "advertising": true,
  "enable_on_standby": false,
  "disable_only_disconnected": true,
  "tx_power": 0,
  "show_notification": true,
  "custom_audio_notifications": [
    {
      "text": "/message",
      "value": ""
    },
    {
      "text": "Doorbell rang",
      "value": "/doorbell.mp3"
    },
    {
      "text": "Mailbox filled",
      "value": "/mailbell.mp3"
    },
    {
      "text": "Phone rang",
      "value": "/phonebell.mp3"
    },
    {
      "text": "",
      "value": ""
    },
    {
      "text": "",
      "value": ""
    },
    {
      "text": "",
      "value": ""
    },
    {
      "text": "",
      "value": ""
    },
    {
      "text": "",
      "value": ""
    },
    {
      "text": "",
      "value": ""
    },
    {
      "text": "",
      "value": ""
    },
    {
      "text": "",
      "value": ""
    },
    {
      "text": "",
      "value": ""
    },
    {
      "text": "",
      "value": ""
    },
    {
      "text": "",
      "value": ""
    },
    {
      "text": "",
      "value": ""
    },
    {
      "text": "",
      "value": ""
    },
    {
      "text": "",
      "value": ""
    },
    {
      "text": "",
      "value": ""
    },
    {
      "text": "",
      "value": ""
    }
  ]
}