{
  "items": [
    {
        "type": 1,
        "label": "Example Label",
        "topic": "something/label",
        "format": "%s"
    },
    {
        "type": 2,
        "label": "Example Button",
        "topic": "something/action"
    },
    {
        "type": 3,
        "label": "Example Switch",
        "topic": "something/switch"
    },
    {
        "type": 0,
        "label": "",
        "topic": ""
    },
    {
        "type": 0,
        "label": "",
        "topic": ""
    },
    {
        "type": 0,
        "label": "",
        "topic": ""
    },
    {
        "type": 0,
        "label": "",
        "topic": ""
    },
    {
        "type": 0,
        "label": "",
        "topic": ""
    },
    {
        "type": 0,
        "label": "",
        "topic": ""
    },
    {
        "type": 0,
        "label": "",
        "topic": ""
    },
    {
        "type": 0,
        "label": "",
        "topic": ""
    },
    {
        "type": 0,
        "label": "",
        "topic": ""
    },
    {
        "type": 0,
        "label": "",
        "topic": ""
    },
    {
        "type": 0,
        "label": "",
        "topic": ""
    },
    {
        "type": 0,
        "label": "",
        "topic": ""
    },
    {
        "type": 0,
        "label": "",
        "topic": ""
    },
    {
        "type": 0,
        "label": "",
        "topic": ""
    },
    {
        "type": 0,
        "label": "",
        "topic": ""
    },
    {
        "type": 0,
        "label": "",
        "topic": ""
    },
    {
        "type": 0,
        "label": "",
        "topic": ""
    }
  ]
}