{
  "topic_base": "phoniebox",
  "topic_state": "attribute/state",
  "topic_artist": "attribute/artist",
  "topic_title": "attribute/title",
  "topic_cmd_play": "cmd/playerplay",
  "topic_cmd_pause": "cmd/playerpause",
  "topic_cmd_next": "cmd/playernext",
  "topic_cmd_prev": "cmd/playerprev",
  "topic_cmd_volumeup": "cmd/volumeup",
  "topic_cmd_volumedown": "cmd/volumedown"
}